# Public, non-confidential full DMRG-CASSCF SHARC smoke for the JCTC paper.

basis sto-3g
charge 0

method dmrg-casscf
ncas 2
nelecas 2
roots 2

verbose 0
conv-tol 1e-8
conv-tol-grad 1e-5
max-cycle-macro 20
max-cycle-micro 4
ah-max-cycle 20
ah-start-cycle 3
grad-max-cycle 40

dmrg-maxm 60
dmrg-nsteps 10
dmrg-sweep-tol 1e-8
dmrg-max-fci-dets 10000
